streamlit
openai
pypdf
tiktoken
python-dotenv
anthropic
oracledb
langchain-openai
langchain
langchain-community
faiss-cpu
pdfplumber
pillow
pandas
numpy
sentence-transformers
docling
python-pptx
comtypes
